body {
  display: flex;
  /* flex-flow: row wrap;  */
  /* height: 800px;   */
  /* width: 90%; */
}

div {
  border: 2px solid black;
  height: 100px;
  width: 400px;
  /* text-align: center; */
  flex-basis: 700px;
}

.flex1 {
  flex-grow: 1;
  flex-shrink: 1;
  order: 3;
}
/* 
.flex2{
    flex-grow: 2;
    flex-shrink: 2;
    order: 4;
}

.flex3{
    flex-grow: 3;
    flex-shrink: 3;
    order: 2;
} */
.flex4 {
  flex-grow: 8;
  flex-shrink: 8;
  order: 1;
}
