h1{
    background-color: burlywood;
    text-align: center;
    border: 1.5px;
    margin: 0.5rem;
}

.container{
    display: flex;
    background-color: coral;
    border: 2px;
    margin: 0.5rem;
    justify-content: center;
    flex-flow: row wrap;
}

div{
    /* justify-content: flex-start; */
    background-color: grey;
    border: 2px solid black;
    margin: 2px;
    width: 15px;
    height: 75px;
}

a{
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    text-decoration: none;
    font-size: 35px;
}