html {
    background-color: blue;
}
body {
    background-color: green;
    width: 60%;
    margin: 0 auto;
    border: 10px solid black;
}
img {
    border-radius: 100%;
    border: 10px ridge gold;
    display: block;
    margin: 0 auto;
    width: 50%;
}
p {
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 500;
    font-size: medium;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}
#primary {
    color: blue;
}
#secondary {
    color: red;
}