body{
    display: flex;
    border: 5px solid red;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 700px;
}

div{
    display: flex;
    justify-content: center;
    /* formatting */
    width: 200px;
    height: 100px;
    margin: 1rem;
    border: 1px solid red;
    background-color: grey;
}

.start{
    align-items: flex-start;
}

.center{
    align-items: center;
}

.end{
    align-items: flex-end;
}

.baseline{
    align-self: baseline;
}