.c1 {
  background-color: rgb(0, 24, 95);
}

.c2 {
  background-color: rgb(19, 55, 165);
}

.c3 {
  background-color: rgb(70, 99, 185);
}

.c4 {
  background-color: rgb(223, 223, 223);
}

.c5 {
  background-color: rgb(168, 179, 209);
}

.c6{
    background-color: rgb(204, 204, 204);
}