body{
    display: flex;
    flex-flow: row wrap;
    /* flex-flow: row-reverse wrap; */
    /* flex-flow: column wrap; */
    /* flex-flow: column-reverse wrap; 
    "It is the same for no wrap as well"*/
}

div{
    background-color: grey;
    width: 125px;
    height: 75px;
    border: 2px solid black;
    margin: 0.5rem;
    text-align: center;
    flex-grow: 1;
}