header{
    width: 100vw;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.800);
    position: fixed;
}

#idx-atf{
    background-image: url(../img/background-photo.jpg);
}

#idx-atf > div{
    height: 30vh;
}

h1{
    font-size: 2rem;
}

h3{
    margin-top: .6rem;
}