#idx-atf {
    /* Layout */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Background */
    background-color: #5b5b5b;
    background-image: url(../img/background-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-origin: border-box; */
    /* Formatting */
}

.idx-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}