<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Layout</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<h1>Holy Grail Layout</h1>
		<header></header>
		<nav></nav>
		<main></main>
		<footer></footer>

		<div id="Taco-shop">
			<h1>Taco Shop Layout</h1>
			<nav id="navigation">
				<ul>
					<li>Home</li>
					<li>Product</li>
					<li>Contact</li>
					<li>About</li>
				</ul>
			</nav>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
				magni, adipisci quis placeat ratione qui temporibus ipsam beatae
				quia expedita sed molestiae ipsum, vitae reprehenderit deserunt,
				suscipit maiores nostrum! Possimus. Lorem ipsum dolor sit amet
				consectetur adipisicing elit. Facere, ratione. Voluptatibus illo
				eius recusandae cum, dicta, porro nesciunt aspernatur quasi,
				minus accusantium minima tenetur ullam tempora laudantium
				distinctio autem voluptas. Lorem, ipsum dolor sit amet
				consectetur adipisicing elit. Iusto maiores, facere ea quia
				aliquam illo omnis amet ad reiciendis minus qui atque eligendi,
				tempora deleniti temporibus magnam rem quae natus. Lorem ipsum
				dolor sit amet consectetur adipisicing elit. Ipsum consequatur
				hic deleniti quis ducimus quod, maxime placeat ab nulla veniam
				labore, cupiditate nisi nobis delectus vitae expedita esse minus
				officia.
			</div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Voluptatem repudiandae reiciendis reprehenderit aliquid pariatur
				quas odio in dignissimos amet, ab temporibus corporis esse
				quidem consequatur quasi libero est! Rerum, ipsam? Lorem ipsum
				dolor sit amet, consectetur adipisicing elit. Corporis, iusto
				voluptates deserunt architecto laboriosam quo voluptatibus
				possimus quasi totam maiores exercitationem nulla asperiores
				veritatis quos impedit quidem animi nostrum! Consequatur!
			</p>
		</div>
	</body>
</html>
