html, body, footer{
    padding: 0%;
    margin: 0%;
    border: 0ch;
}

footer{
    position: fixed;
    bottom: 0ch;
    width: 100%;
    height: 40px;
    border: 2px solid orange;
    background-color: orangered;
}